<!DOCTYPE html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>GRadio : Carlin's Favorite Radio Stations</title>
	<meta name="description" content="Listen in on some of my favorite online radio stations!">
	<meta name="keywords" content="online, radio, group, social, listening, free, ads, station, carlin, yuen, favorite">
	<meta name="robots" content="index, follow">
	<meta name="copyright" content="2014 Carlin Yuen">
	<meta name="web_author" content="Carlin Yuen">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:title" content="Carlin's Favorite Radio Stations">
	<meta property="og:site_name" content="GRadio">
	<meta property="og:url" content="http://gradio.carlinyuen.com">
	<meta property="og:description" content="Listen in on some of my favorite online radio stations!">
	<meta property="og:image" content="http://gradio.carlinyuen.com/img/gradio.jpg">
	<meta property="article:author" content="https://www.facebook.com/carlin.yuen">
	<link rel="image_src" type="image/jpeg" href="http://gradio.carlinyuen.com/img/gradio.jpg" >

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:domain" content="http://gradio.carlinyuen.com">
	<meta name="twitter:url" content="http://gradio.carlinyuen.com">
	<meta name="twitter:title" content="GRadio : Carlin's Favorite Radio Stations">
	<meta name="twitter:description" content="Listen in on some of my favorite online radio stations!">
	<meta name="twitter:image:src" content="http://gradio.carlinyuen.com/img/gradio.jpg">
	<meta name="twitter:site" content="@_Carlin">
	<meta name="twitter:creator" content="@_Carlin">

	<link rel="stylesheet" href="css/core.min.css">
	<link rel="stylesheet" href="css/main.min.css">

</head>

<body>

	<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<audio id="player" controls="" autoplay="" name="media">
		<p>Your browser doesn't support HTML5 audio! :o(</p>
	</audio>

	<div class="container">

		<nav class="navbar" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#stations">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="#">GRadio</a></h1>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div id="stations" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="?source=//7609.live.streamtheworld.com/977_HITS_SC">Popular Poop</a></li>
						<li><a href="?source=//192.184.9.79:8006/;,//94.23.51.96:8000/;,//37.59.38.233:8010/;,//209.9.238.4:6022/;">Study Stuff</a></li>
						<li><a href="?source=//7649.live.streamtheworld.com:80/977_CLASSROCK_SC">BenjiBuns Rock</a></li>
						<li><a href="?source=//7659.live.streamtheworld.com:80/977_OLDIES_SC">Old Skool Tunez</a></li>
						<li><a href="?source=//79.141.174.206:8000/;,//79.141.174.222:8000/;">Random Mixes</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<form id="chatBox" role="form">
			<a class="collapseButton">_</a>
			<div class="form-group">
				<div class="form-control" id="messages"></div>
			</div>
			<div class="input-group">
				<input id="input" type="text" class="form-control" placeholder="Say hi!">
				<span class="input-group-btn">
					<button id="send" class="btn btn-warning" type="button">SEND</button>
				</span>
			</div>
		</form>

	</div>

    <!-- jQuery -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="public/bower_components/jQuery/jquery.min.js"><\/script>')</script>

	<!-- socket.io -->
	<script src="/socket.io/socket.io.js"></script>

	<!-- APP CODE -->
	<script src="js/app.min.js"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	<script>
		(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
	</script>
</body>
</html>
